services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend_c
    ports:
      - '5173:5173'
    stdin_open: true
    tty: true
    volumes:
    - ./frontend:/app
    - /app/node_modules

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: backend_c
    ports:
      - '4000:4000'
    stdin_open: true
    tty: true
    volumes:
    - ./backend:/app:cached         
    - /app/node_modules
    

